<header>
  <div class="header">
    <h1 class="header-name">Slot Payment</h1>
      <div class="header-users">
        <div>
        <a href="/#" class="header-user">ログイン</a>
        </div>
        <div>
        <a href="/#" class="header-user">新規登録</a>
        </div>
      </div>
      <!--ログインしている時の表示
      <div class="header-users">
        <div>ユーザー名</div>
        <div>ログアウト</div>
      </ul>-->
  </div>
</header>

<div class="main">
  <div class="main-news">
    <div class="main-new">
    <a href="/#"class="new-botan">新規作成</a>
    </div>
    <div class="content-total">
    Total収支 40000円
    </div>
    
  </div>
  <div class="contents">
    <div class="content">
      <div class="content-days">
        <div class="content-month">
        11月
        </div>
        <div class="content-day">
        11日
        </div>
      </div>
      <div class="payments">
      10000円
      </div>
      <div class="three-btn">
        <div class="btn">
        <a href="/#" class="btn1">詳細</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn2">編集</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn3">削除</a>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-days">
        <div class="content-month">
        11月
        </div>
        <div class="content-day">
        11日
        </div>
      </div>
      <div class="payments">
      10000円
      </div>
      <div class="three-btn">
        <div class="btn">
        <a href="/#" class="btn1">詳細</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn2">編集</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn3">削除</a>
        </div>
      </div>
    </div>

    <div class="content">
    <div class="content-days">
        <div class="content-month">
        11月
        </div>
        <div class="content-day">
        11日
        </div>
      </div>
      <div class="payments">
      10000円
      </div>
      <div class="three-btn">
        <div class="btn">
        <a href="/#" class="btn1">詳細</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn2">編集</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn3">削除</a>
        </div>
      </div>
    </div>

    <div class="content">
    <div class="content-days">
        <div class="content-month">
        11月
        </div>
        <div class="content-day">
        11日
        </div>
      </div>
      <div class="payments">
      10000円
      </div>
      <div class="three-btn">
        <div class="btn">
        <a href="/#" class="btn1">詳細</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn2">編集</a>
        </div>
        <div class="btn">
        <a href="/#" class="btn3">削除</a>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="footer-logo">
  --slot Payment--
  </div>
</footer>
