

.main{
  height:1000px;
  width:100vw;
}

.main-news{
  text-decoration: none;
  margin: 20px 0 0 20px;
  width:100%;
  height:50px;
  display:flex; 
}

.main-new{
  width:70%;
}

.new-botan{
  text-decoration: none;

}

.content-total{
  width:30%;
  margin: 0 0 0 30px;
}

.contents{
  width:100vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.content{
  height:150px;
  width:200px;
  background-color:gray;
  margin: 20px 0 0 0;
}

.content-days{
  display: flex;
  margin: 10px;
  color:white;
}

.payments{
  margin:10px;
  color:white;
}

.three-btn{
  display:flex;
  justify-content: space-around;
  margin: 50px 0 0 0;
}

.btn{
  text-decoration: none;
}

.btn1{
  text-decoration: none;
  color:white;
}

.btn2{
  text-decoration: none;
  color:white;
}

.btn3{
  text-decoration: none;
  color:white;
}



  .new-botan {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .new-botan:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

.content-nickname{
  margin: 0 0 0 40px;
}

